{% extends "rest_api_app/base.html" %}
    {% block content %}
        {% for book in books %}
            <div class="book">
                <img src="{{book.image}}" alt="">
                <h2><a href="{% url "book_detail" pk=book.pk %}">{{ book.title }}</a></h2>
                <p>Author: {{ book.author }}</p>
                <p>Publication date: {{ book.publication_date }}</p>
                <p>Price: ${{ book.price }}</p>
                <p>Link to Buy at <a href="{{ book.linkToBuy }}">Amazon</a></p>
                <h3><a href="">Summary</a></h3>
                <p>{{ book.summary|linebreaks }}</p>
            </div>
        {% endfor %}
    {% endblock content %}
